<div class="card-deck" style="margin-top: 100px !important; justify-content: center;">
    <div class="card text-white bg-dark mb-3 effectGrow" style="max-width: 18rem; cursor: pointer;" (click)="goTemplate()">
        <div class="card-body">
            <h5 class="card-title">Formulario estatico</h5>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3 effectGrow" style="max-width: 18rem; cursor: pointer;" (click)="goReactive()">
        <div class="card-body">
            <h5 class="card-title">Formulario reactivo</h5>
        </div>
    </div>
</div>